/*-- scss:defaults --*/

$brand-green: #00883A;
$brand-dark-grey: #626468;
$brand-medium-grey: #C0C1C3;
$brand-light-grey: #E6E6E7;
$brand-white-grey: #F5F5F5;
$brand-blue: #0F1987;
$brand-cyan: #009FE3;
$brand-violet: #8C4091;
$brand-red: #D71919;
$brand-orange: #F18700;


$callout-color-note: $brand-blue;
$callout-color-tip: $brand-green;
$callout-color-caution: $brand-orange;
$callout-color-important: $brand-red;
